*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #555555;
  transition: all 0.3s;
}

html, body {
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
  border: 0;
  outline: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.section {
  padding: 40px 0;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #050f23;
}

.text-secondary {
  color: #040810;
}

.small-text {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.gap-10 {
  gap: 1rem;
}

.flex_center, #header_area .header_top .order_info .list_items a, .small-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-icon {
  font-size: 1.6rem;
  width: 3rem;
  width: 3rem;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  margin: 0.67rem 0;
  font-weight: 800;
}

h2 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1rem, 5vw, 2rem);
  font-weight: 600;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.3rem, 5vw, 1.6rem);
  font-weight: 400;
  text-align: justify;
}

a {
  color: #555555;
  text-decoration: none;
  font-size: clamp(1.3rem, 5vw, 1.8rem);
  display: block;
}
a:hover {
  color: #000;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: clamp(2rem, 5vw, 7rem);
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}

.subheading {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 10px;
}

.link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #FFBF00;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  color: #ff9007;
}

.section {
  padding: 40px 0;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #050f23;
}

.text-secondary {
  color: #040810;
}

.small-text {
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}

.gap-10 {
  gap: 1rem;
}

.flex_center, #header_area .header_top .order_info .list_items a, .small-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-icon {
  font-size: 1.6rem;
  width: 3rem;
  width: 3rem;
}

.search_form {
  position: relative;
}
.search_form form .searchBox {
  position: relative;
  background-color: #fff;
  height: 5.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.7rem;
  overflow: hidden;
  display: flex;
  max-width: 600px;
  width: 100%;
}
.search_form form .searchBox .search_icon {
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 5rem;
  text-align: center;
}
.search_form form .searchBox input {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  max-width: 60rem;
  padding-left: 1rem;
}
.search_form form .searchBox .submit-btn {
  position: relative;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0 0.7rem 0.7rem 0;
}

.logo a img {
  width: 18rem;
  margin-bottom: 0.5rem;
}

.submit-btn {
  padding: 1.6rem 3rem;
  background: #FFBF00;
  border-radius: 0.7rem;
}

.submit-btn:hover {
  background: #ff9007;
}

.custom-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFBF00;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #ff9007;
}

#header_area .header_top {
  padding: 1rem 0;
  background: #F5F5F5;
}
#header_area .header_top .order_message {
  color: #555555;
}
#header_area .header_top .order_info .list_items a {
  position: relative;
  padding: 0.2rem 1.935rem;
  width: 5rem;
  height: 5rem;
  background: #FFBF00;
  color: rgba(0, 0, 0, 0.6);
  transition: color, 0.3s;
  font-size: 2rem;
}
#header_area .header_top .order_info .list_items a:hover {
  color: #ff9007;
}
#header_area .header_top .order_info .list_items a.info_link {
  position: relative;
}
#header_area .header_top .order_info .list_items a.info_link::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#header_area .header_main {
  padding: 2rem 0;
}
#header_area .header_main .product_action {
  gap: 2rem;
}
#header_area .header_main .product_action .badge_box {
  position: relative;
}
#header_area .header_main .product_action .badge_box .badge-action {
  background: #050f23;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #FFBF00;
}
#header_area .header_main .product_action .count_badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #dda80b;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  text-align: center;
  border-radius: 50%;
}

@media only screen and (max-width : 768px) {
  #header_area nav ul li {
    padding-left: 1.2rem;
  }
  #header_area .logo img {
    width: 150px;
  }
}/*# sourceMappingURL=main.css.map */