
#accounet_part {
    .account_wrapper {
        max-width: 600px;
        margin: 5rem auto;
    }
    .signup,
    .login{
      width: 50%;
      background: $primary-color;
      float: left;
      height: 60px;
      line-height: 60px;
      color: $dark-color;
      font-weight: 600;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
    }
    .signup-form,
.login-form{
  background: $white-color;
  padding: 2rem;
  clear: both;
  width: 100%;
  box-sizing: border-box;
  @include box-shadow($shadow);
}
.input{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    background: $half-white;
    margin-bottom: 1rem;
    border: 1px solid $dark-color-2;
    color: $text-color;
    font-size: 1.4rem;
    outline: none;
    @include border-radius(0.5rem);
    @include transition(all .5s ease);
    &:focus {
        border: 1px solid $red-color;
    }
  }
  .other_options {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    .socials {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      margin: 2rem 0 0;
      .social-btn {
        height: 48px;
        width: 48px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 120ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
        p {
          display: none;
          margin-bottom: 0;
        }
        &:hover p {
          display: block;
          font-weight: 500;
          align-items: center;
          color: #fff;
        }
        &:hover 
        {
          width: 100px;
          
          border-radius: 100px;
          transition: all 120ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
        }
      
      }
      #a-btn {
        background-image: url(https://www.svgrepo.com/download/494331/apple-round.svg);
      }
      
      #a-btn:hover {
        background-image: none;
        background-color: #000000;
      }
      
      #fb-btn {
        background-image: url(https://www.svgrepo.com/download/448224/facebook.svg);
      }
      
      #fb-btn:hover {
        background-image: none;
        background-color: #1877f2;
      }
      
      #g-btn {
        background-image: url(https://www.svgrepo.com/download/448227/google.svg);
      }
      
      #g-btn:hover {
        background-image: none;
        background-color: #ea4335;
      }
    }
    
  }

}










