#footer_area {
    position: relative;
    background: $primary-color;
    padding: 0 0 0 15rem;

    .footer_top {
        background: $secondary-color;
        padding: 5rem 0;
    }
    .footer_title 
        {
            color: $dark-gray;
            font-weight: 400;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    .single_itmes 
    {
        
        span {
            color: $white-color;
            font-size: 2rem;
            display: block;
        }
      img 
      {
        width: 80%;
        display: block;
      }
      p 
      {
        color: $white-color;
      }

    }
    .contact_part 
    {
        padding-top: 5rem;
        ul 
        {
            
            li 
            {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 3rem;
                margin: 1.6rem 0;
                a 
                {
                    color: $dark-gray;
                }
            }
            .footer_info 
            {
             span 
             {
                 color: $dark-gray !important;
             }
            }
            h3 
            {
                color: $white-color;
                font-weight: 400;
                width: 8rem;
            }
        }
 
     
    }
    .memberships 
    {
        span 
        {
            display: block;
            margin-bottom: 1rem;
            color: #fff;
        }
    }
    .socail_icon 
    {
        width: 5rem;
        height: 5rem;
        background: $white-color;
        @extend .flex-center;
        font-size: 3rem;
        @include border-radius(1rem);
        cursor: pointer;
        @include transition(all 0.2s ease-in-out);
        &:hover 
        {
            background: $dark-gray;
            color: #fff;
        }
    }
    .footer_bottom 
    {
       padding: 5rem 0;
       ul 
       {
        li {
            padding:0 2rem;
            span 
            {
                color: $white-color;
            }
            &:last-child {
                margin-left: auto;
            }
            a {
                color: $white-color;
                display: block;
                
            }
        }
       }
    }
}

.backto_top 
{
    position: absolute;
    top: 50%;
    left: -5rem;
    @include transform(rotate(270deg) translateY(-50%));
    h3 
    {
        font-size: 3rem;
        color: $white-color;
    }
    .back_arrow 
    {
        display: flex;
        align-items: center;
        gap: 2rem;
        img 
        {
            display: block;
        }
    }
}