#header_area 
{
    .header_top {
        padding: 1rem 0;
        background: $light-gray;
        .order_message 
        {
           color: $text-color;
        }
        .order_info 
        {
            .list_items 
            {
                
                a 
                {
                    position: relative;
                    padding: 0.2rem 1.935rem;
                    width: 5rem;
                    height: 5rem;
                    background: $primary-color;
                    @extend .flex_center;
                    color: $dark-color-6;
                    @include trans-color(color, .3s);
                    font-size: 2rem;
                    
                    &:hover 
                    {
                        color: $secondary-color;
                    }
                    &.info_link
                    {
                        position: relative;
                        &::before 
                        {
                            content: '';
                            position: absolute;
                            top: 50%;
                            @include transform(translateY(-50%));
                            left: 0;
                            width: 1px;
                            height: 100%;
                            background: $dark-color-1;
                        }
                    }
                }
            }
        }
    }
    .header_main
    {
        padding: 2rem 0;
        .product_action
        {
            gap: 2rem;
            .badge_box 
            {
                position: relative;
                .badge-action 
                {
                    
                    background: $dark-blue;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;
                    color: $primary-color;
                  
                }
            }
           
            .count_badge 
            {
                position: absolute;
                top: -5px;
                right: -5px;
                background: $primary-color-1;
                height: 3rem;
                line-height: 3rem;
                width: 3rem;
                text-align: center;
                @include border-radius(50%);
            }
        }
    }
}