.submit-btn
{
    padding:1.6rem 3rem;
    background: $primary-color;
    @include border-radius(0.7rem);
}
.submit-btn:hover
{
    background: $secondary-color;
}

.custom-btn {
    display: inline-block;
    padding: 1.6rem 2rem;
    background-color: $red-color;
   color: $white-color;
    border-radius: 4px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
  }
  
  .custom-btn:hover {
    background-color: $secondary-color;
  }

  .primary_btn 
  {
    position: relative;
    display:block;
    padding: 1rem 1.2rem;
    @include border-radius(0.7rem);
    color: $dark-color;
    transition: all .3s;
    background: $gradient;
    background-size: 200% !important;
    @include box-shadow(0 5px 20px $dark-color-1);
    z-index: 3;
    border: 2px solid $primary-color;
    
    &:hover {
      background-position-x: 100%;
      border-color: $light-gray;
    }
  }