@-webkit-keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@keyframes slideLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@-webkit-keyframes slideRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}
@keyframes slideRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}


img,
video {
    display: block;
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}


.header_bottom {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    margin: 0 auto;
    z-index: 999;
    border: none;
    outline: none;
    background: #fafafa;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.header_bottom .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-item-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
}
.header-item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66%;
    flex: 0 0 66%;
}
.header-item-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 17%;
    flex: 0 0 17%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header-item-right .menu-icon {
    font-size: 3.35rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    color: #121212;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.header_bottom .menu > ul > li {
    display: inline-block;
    line-height: 3.125rem;
    margin-left: 1.5rem;
}
.header_bottom .menu > ul > li > a {
    position: relative;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    outline: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: #121212;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.header_bottom .menu > ul > li .menu-subs {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 1.75rem;
 
    border: none;
    outline: none;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    border-radius: 0.25rem;
    border-top: 3px solid $secondary-color;
    background: #fafafa;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header_bottom .menu > ul > li .menu-subs > ul > li {
    line-height: 1;
}
.header_bottom .menu > ul > li .menu-subs > ul > li > a {
    display: inline-block;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: #121212;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header_bottom .menu > ul > li .menu-column-1 {
    min-width: 16rem;
    max-width: 20rem;
}
.header_bottom .menu > ul > li .menu-subs.menu-mega {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header_bottom .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li {
    display: block;
    line-height: 1;
}
.header_bottom .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
    display: inline-block;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.5rem;
    border: none;
    outline: none;
    color: #121212;
    text-transform: capitalize;
    text-rendering: optimizeLegibility;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.header_bottom .menu > ul > li .menu-subs.menu-column-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 68rem;
    width: 100%;
    padding: 1.25rem 1rem;
}
.header_bottom .menu > ul > li .menu-subs.menu-column-4 > .list-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 1rem;
}
.header_bottom .menu > ul > li .menu-subs.menu-column-4 > .list-item .title {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    padding: 0.75rem 0;
    border: none;
    outline: none;
    color: $secondary-color;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.header_bottom .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
    text-align: center;
}
.header_bottom .menu > ul > li .menu-subs.menu-column-4 > .list-item img.responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
    -o-object-fit: cover;
    object-fit: cover;
    vertical-align: middle;
}
.header_bottom .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a:hover,
.header_bottom .menu > ul > li .menu-subs > ul > li > a:hover {
    color: $primary-color;
}
.header-item-right a:hover,
.header_bottom .menu > ul > li:hover > a {
    color: $primary-color;
}
@media only screen and (min-width: 993px) {
    .header_bottom  .menu > ul > li.menu-item-has-children:hover .menu-subs {
        margin-top: 0.5rem;
        opacity: 1;
        visibility: visible;
    }
}
.menu-mobile-header,
.menu-mobile-trigger {
    display: none;
}
@media only screen and (max-width: 992px) {
    .header-item-center {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }
    .header-item-left,
    .header-item-right {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header_bottom .menu-mobile-trigger {
        position: relative;
        display: block;
        cursor: pointer;
        width: 1.75rem;
        height: 1rem;
        border: none;
        outline: none;
        margin-left: 1.25rem;
        background: 0 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.35s ease-in-out;
        -o-transition: 0.35s ease-in-out;
        transition: 0.35s ease-in-out;
    }
    .header_bottom  .menu-mobile-trigger span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        border: none;
        outline: none;
        opacity: 1;
        border-radius: 0.25rem;
        background: #121212;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    .header_bottom  .menu-mobile-trigger span:nth-child(1) {
        top: 0;
    }
    .header_bottom  .menu-mobile-trigger span:nth-child(2),
    .header_bottom  .menu-mobile-trigger span:nth-child(3) {
        top: 0.5rem;
    }
    .header_bottom  .menu-mobile-trigger span:nth-child(4) {
        top: 1rem;
    }
    .header-item-right {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header_bottom  .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 20rem;
        height: 100%;
        z-index: 1099;
        overflow: hidden;
        background: #fafafa;
        -webkit-transform: translate(-100%);
        -ms-transform: translate(-100%);
        transform: translate(-100%);
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .header_bottom  .menu.active {
        -webkit-transform: translate(0%);
        -ms-transform: translate(0%);
        transform: translate(0%);
    }
    .header_bottom  .menu > ul > li {
        display: block;
        line-height: 1;
        margin: 0;
    }
    .header_bottom  .menu > ul > li > a {
        display: block;
        line-height: 3.125rem;
        height: 3.125rem;
        padding: 0 3.125rem 0 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .header_bottom  .menu > ul > li > a i.ion {
        position: absolute;
        font-size: 1.25rem;
        line-height: 3.125rem;
        top: 0;
        right: 0;
        width: 3.125rem;
        height: 3.125rem;
        text-align: center;
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .header_bottom  .menu .menu-mobile-header {
        position: relative;
        position: -webkit-sticky;
        position: sticky;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        top: 0;
        height: 3.125rem;
        z-index: 501;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background: #fafafa;
    }
    .header_bottom  .menu .menu-mobile-header .menu-mobile-arrow {
        display: none;
        font-size: 1.25rem;
        line-height: 3.125rem;
        width: 3.125rem;
        height: 3.125rem;
        cursor: pointer;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        color: $dark-blue;
        text-align: center;
    }
    .header_bottom  .menu .menu-mobile-header.active .menu-mobile-arrow {
        display: block;
    }
    .header_bottom  .menu .menu-mobile-header .menu-mobile-title {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        line-height: inherit;
        color: #121212;
        text-transform: capitalize;
        text-rendering: optimizeLegibility;
    }
    .header_bottom  .menu .menu-mobile-header .menu-mobile-close {
        font-size: 2.25rem;
        line-height: 3.125rem;
        cursor: pointer;
        width: 3.125rem;
        height: 3.125rem;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        color: #121212;
        text-align: center;
    }
    .header_bottom  .menu .menu-section {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .header_bottom  .menu > ul > li .menu-subs {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .header_bottom  .menu > ul > li .menu-subs.menu-mega {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        max-width: none;
        min-width: auto;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 1rem;
        padding-top: 4rem;
        opacity: 1;
        overflow-y: auto;
        visibility: visible;
        -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .header_bottom .menu > ul > li .menu-subs.active {
        display: block;
    }
    .header_bottom  .menu > ul > li .menu-subs.menu-column-4 > .list-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 0;
    }
    .header_bottom .menu > ul > li .menu-subs.menu-column-4 > .list-item img.responsive {
        margin-top: 0;
    }
    .header_bottom .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center .title {
        margin-bottom: 1.25rem;
    }
    .header_bottom  .menu > ul > li .menu-subs.menu-column-4 > .list-item.text-center:last-child .title {
        margin-bottom: 0;
    }
    .header_bottom .menu > ul > li .menu-subs > ul > li > a {
        display: block;
    }
    .header_bottom  .menu > ul > li .menu-subs.menu-mega > .list-item > ul {
        margin-bottom: 1rem;
    }
    .header_bottom  .menu > ul > li .menu-subs.menu-mega > .list-item > ul > li > a {
        display: block;
    }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        opacity: 0;
        visibility: hidden;
        background: rgba(0, 0, 0, 0.55);
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .overlay.active {
        opacity: 1;
        visibility: visible;
    }
}
.main {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-image: url(https://source.unsplash.com/pkhBlvTLyog/1920x1280);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
}
