

.section {
  padding: 40px 0;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #050f23;
}

.text-secondary {
  color: #040810;
}

.small-text
{
  font-size: clamp(1.2rem , 2vw , 1.6rem);
}

.gap-10
{
  gap: 1rem;
}
.flex_center 
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-icon 
{
  font-size: 1.6rem;
  width: 3rem;
  width: 3rem;
  @extend .flex_center;
 
}